/* You can add global styles to this file, and also import other style files */
.app-container {
    min-height: 100%;   
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

main {
    flex-grow: 1;
}

footer {
    background-color: blue;
    color: white;
    padding: 5px 0;
    text-align: center;

    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.tablee {
    background: linear-gradient(135deg, #000407, #000000) !important; 
}